
a {
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(145deg, #9b4caf, #6e0fbd);
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 8px #4b2c55, 0 12px 20px rgba(175, 21, 175, 0.3);
  transition: all 0.2s ease-in-out;
  position: relative;
}

a:hover {
  transform: translateY(-4px) scale(1.05);
  background: linear-gradient(145deg, #41134b, #410758);
  box-shadow: 0 12px #6e09a8, 0 18px 25px rgba(0,0,0,0.4);
}

a:active {
  transform: translateY(4px) scale(0.98);
  box-shadow: 0 4px #28209e, 0 8px 12px rgba(0,0,0,0.3);
}

body {
     background-color: #e9abf8;
}